<!DOCTYPE HTML>
<html>
    <head>
        <script type="text/javascript" src="/js/axios/axios.min.js"></script>
        <script type="text/javascript" src="/js/vue/vue.js"></script>
        <script type="text/javascript" src="/_generic/session.js"></script>
        <script type="text/javascript" src="/_generic/filters.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <div id="table">
            <table>
                <tr>
                    <th>{{ $filters.translate("general-ledger.date") }}</th>
                    <th>{{ $filters.translate("general-ledger.document") }}</th>
                    <th>{{ $filters.translate("general-ledger.account") }}</th>
                    <th>{{ $filters.translate("general-ledger.text") }}</th>
                    <th>{{ $filters.translate("general-ledger.debit") }}</th>
                    <th>{{ $filters.translate("general-ledger.credit") }}</th>
                    <th>{{ $filters.translate("general-ledger.tax") }}</th>
                </tr>
                <tr v-for="record in records">
                    <td>
                        {{ $filters.formatDate(record.display_date ?? record.date ?? record.posting_date) }}
                    </td>
                    <td>
                        <a class="link" @click="goToDocument(record.document_id)">
                            <span v-if="record.document_external_reference">
                                {{ record.document_external_reference }}
                            </span>
                            <span v-else-if="record.document_internal_reference">
                                {{ record.document_type ?? "" }}
                                {{ record.document_internal_reference }}
                            </span>
                            <span v-else>
                                {{ $filters.translate("general-ledger.document.unnamed") }}
                            </span>
                        </a>
                        <a class="editRecord" @click="editDocument(record.document_id)">
                            &#x270F;&#xFE0F;
                        </a>
                    </td>
                    <td :title="record.account.display_name">
                        <a class="link" @click="goToAccount(record.account._id)">
                            {{ record.account.display_number }}
                        </a>
                        <span v-if="record.account.track_open_items && record.business_partner">
                            <a class="link" @click="goToAccount(record.account._id, record.business_partner._id)">
                                &nbsp;{{ record.business_partner?.full_name }}
                            </a>
                        </span>
                        <span v-if="record.asset">
                            <a class="link" @click="goToAsset(record.asset._id)">
                                &nbsp;{{ record.asset?.name }}
                            </a>
                        </span>
                    </td>
                    <td>
                        {{ record.text }}
                    </td>
                    <td align="right">
                        <span v-if="(record.amount.$numberDecimal || record.amount) > 0">
                            {{ $filters.formatNumber(record.amount) }}
                        </span>
                    </td>
                    <td align="right">
                        <span v-if="(record.amount.$numberDecimal || record.amount) < 0">
                            {{ $filters.formatNumber($filters.absolute(record.amount)) }}
                        </span>
                    </td>
                    <td :title="record.tax_code || record.tax_code_base">
                        <span v-if="record.tax_code || record.tax_code_base">
                            {{ $filters.formatTaxCode(record.tax_code ?? record.tax_code_base) }}
                            <span v-if="record.tax_code_base || record.tax_code">
                                {{ $filters.formatNumber(record.tax_percent) }}%
                            </span>
                        </span>
                    </td>
                </tr>
                <tr v-if="records.length == 0">
                    <td colspan="7">
                        {{ $filters.translate("general-ledger.no-records") }}
                    </td>
                </tr>
            </table>
            <span v-if="error">
                {{ error }}
            </span>
            <button class="newRecord" @click="openQuickRecorder()">
                Quick Recorder
            </button>
        </div>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>
