<!DOCTYPE HTML>
<html>
    <head>
        <script type="text/javascript" src="/js/axios/axios.min.js"></script>
        <script type="text/javascript" src="/js/vue/vue.min.js"></script>
        <script type="text/javascript" src="/_generic/session.js"></script>
        <script type="text/javascript" src="/_generic/filters.js"></script>
        <link rel="stylesheet" type="text/css" href="/_generic/design.css" />
    </head>
    <body>
        <div id="table">
            <table>
                <tr>
                    <th>Date</th>
                    <th>Document</th>
                    <th>Account</th>
                    <th>Text</th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Tax</th>
                </tr>
                <tr v-for="record in records">
                    <td>
                        {{ record.display_data || record.date || record.posting_date | formatDate }}
                    </td>
                    <td>
                        <a class="link" @click="goToDocument(record.document_id)">
                            <span v-if="record.document_external_reference">{{ record.document_external_reference }}</span>
                            <span v-else>{{ record.document_type }}{{ record.document_internal_reference }}</span>
                        </a>
                    </td>
                    <td :title="record.account.display_name">
                        <a class="link" @click="goToAccount(record.account._id)">
                            {{ record.account.display_number }}
                        </a>
                    </td>
                    <td>
                        {{ record.text }}
                    </td>
                    <td align="right">
                        <span v-if="(record.amount.$numberDecimal || record.amount) > 0">
                            {{ record.amount | formatNumber }}
                        </span>
                    </td>
                    <td align="right">
                        <span v-if="(record.amount.$numberDecimal || record.amount) < 0">
                            {{ record.amount | absolute | formatNumber }}
                        </span>
                    </td>
                    <td :title="record.tax_code || record.tax_code_base">
                        <span v-if="record.tax_code || record.tax_code_base">
                            {{ record.tax_code || record.tax_code_base | formatTaxCode }}
                            <span v-if="record.tax_code_base">
                                {{ record.tax_percent | formatNumber }}%
                            </span>
                            <span v-if="record.tax_code">
                                {{ record.tax_code | toTaxName }}
                            </span>
                        </span>
                    </td>
                </tr>
                <tr v-if="records.length == 0">
                    <td colspan="7">
                        No records found.
                    </td>
                </tr>
            </table>
            <span v-if="error">
                {{ error }}
            </span>
        </div>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>
