<!DOCTYPE HTML>
<html>
    <head>
        <script type="text/javascript" src="/js/axios/axios.min.js"></script>
        <script type="text/javascript" src="/js/vue/vue.min.js"></script>
        <script type="text/javascript" src="/_generic/session.js"></script>
        <script type="text/javascript" src="/_generic/filters.js"></script>
    </head>
    <body>
        <div id="doc_list">
            <div class="doc" v-for="doc in docs">
                <img src="" />
                <span>{{ doc.type }}{{ doc.internal_reference }}</span>
                <span>{{ doc.external_reference }}</span>
                <span>{{ doc.name }}</span>
                <span>{{ doc.date || doc.posting_date | formatDate }}</span>
                <div>
                    <button @click="showLedgerRecords(doc)">show ledger records</button>
                </div>
            </div>
            <span v-if="error">
                {{ error }}
            </span>
        </div>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>
