<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script type="text/javascript" src="/js/axios/axios.min.js"></script>
        <script type="text/javascript" src="/js/vue/vue.js"></script>
        <script type="text/javascript" src="/_generic/session.js"></script>
        <script type="text/javascript" src="/_generic/filters.js"></script>
        <script type="text/javascript" src="/js/yabooks/filter-bar.js"></script>
    </head>
    <body>
        <div id="doc_list">
            <filter-bar :keys="searchOptions.keys" :types="searchOptions.types" @update="applyFilterFromBar"></filter-bar>
            <div class="doc" v-for="doc in docs">
                <img class="thumbnail" :src="'/api/v1/documents/' + doc._id + '/thumbnail'" height="50" />
                <div class="description">
                    <span class="label" :title="doc.posted ? 'posted' : 'draft'">
                        {{ doc.posted ? "\uD83D\uDD12" : "\uD83D\uDCDD" }}
                    </span>
                    <span class="label internal_reference" v-if="doc.type || doc.internal_reference">
                        <a class="link" @click="filterForDocType(doc.type)" v-if="doc.type">
                            {{ doc.type }}
                        </a>
                        {{ doc.internal_reference }}
                    </span>
                    <span class="label external_reference" v-if="doc.external_reference">
                        {{ doc.external_reference }}
                    </span>
                    <span class="label name" v-if="doc.name">
                        {{ doc.name }}
                    </span>
                    <span class="label date" v-if="doc.date">
                        {{ $filters.formatDate(doc.date) }}
                    </span>
                    <span class="label tag" v-for="tag in doc.tags">
                        <a class="link" @click="filterForTag(tag)">
                            {{ tag }}
                        </a>
                    </span>
                    <div>
                        <button @click="downloadDocument(doc)" v-if="doc.mime_type" title="download document">
                            &#x2193;
                        </button>
                        <button @click="showLedgerRecords(doc)" title="show ledger records">
                            &#128209;
                        </button>
                        <button @click="editDocument(doc)" title="edit document">
                            &#x270F;&#xFE0F;
                        </button>
                        <button @click="deleteDocument(doc)" title="delete document">
                            &#128465;
                        </button>
                    </div>
                </div>
            </div>
            <span v-if="error">
                {{ error }}
            </span>
            <div v-if="!error">
                <input type="file" multiple style="display: none" id="upload_file_selector" />
                <button id="upload" @click="uploadFile()" @dragover.prevent @drop.prevent="handleDrop">
                    upload documents
                </button>
                <button id="loadMore" @click="loadDocuments(true)">
                    load more
                </button>
            </div>
            <div id="notification" v-if="notifications?.length > 0" @click="notifications = []">
                <span v-for="notification in notifications">
                    {{ notification.message }}
                </span>
            </div>
        </div>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>
