<!DOCTYPE HTML>
<html>
    <head>
        <script type="text/javascript" src="/js/axios/axios.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    </head>
    <body>
        <div id="doc_list">
            <div class="doc" v-for="doc in docs">
                <img src="" />
                <span>{{ doc.type }}{{ doc.internal_reference }}</span>
                <span>{{ doc.external_reference }}</span>
                <span>{{ doc.name }}</span>
                <span>{{ doc.date || doc.posting_date | date }}</span>
                <div>
                    <button @click="showLedgerRecords(doc)">show ledger records</button>
                </div>
            </div>
            <span v-if="error">
                {{ error }}
            </span>
        </div>
        <script type="text/javascript">
            new Vue(
            {
                el: "#doc_list",

                data:
                {
                    docs: [],
                    error: null
                },

                async created()
                {
                    try
                    {
                        let business = localStorage.getItem("business");
                        if(!business)
                        {
                            let res = await axios.get("/api/v1/session");
                            business = res.data.data.business;
                        }

                        res = await axios.get(`/api/v1/businesses/${business}/documents`);
                        this.docs = res.data.data;
                        this.error = null;
                    }
                    catch(x)
                    {
                        this.docs = [];
                        this.error = "Please select a business first.";
                    }
                },

                filters:
                {
                    date: (timestamp) =>
                    {
                        return new Date(timestamp).toLocaleDateString();
                    }
                },

                methods:
                {
                    showLedgerRecords(doc)
                    {
                        self.location = `/ledger/?business=${doc.business}&document_id=${doc._id}`;
                    }
                }
            });
        </script>
    </body>
</html>
