.doc
{
    height: 50px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    margin: 40px 40px 40px 40px;
    padding: 20px 20px 20px 20px;
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0px 0px 12px rgba(141, 75, 54, 0.5);
}

.doc .description
{
    top: 0;
    left: 75px;
    height: 50px;
    position: absolute;
    display: inline-block;
}

.label
{
    font-weight: bold;
    padding: 2px 6px;
    font-size: .75em;
    border-radius: 100px;
}

.label.internal_reference
{
    color: rgb(71, 168, 90);
    background: rgb(243, 252, 242);
    border: 1px solid rgb(230, 241, 230);
}

.label.external_reference
{
    color: blue;
}

.label.name
{

}

.label.date
{

}

.label.tag
{
    color: yellow;
}

#upload
{
    visibility: hidden;
}

#upload:after
{
    visibility: visible;
    content: "+";

    background: red;
    display: box;
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 50%;

    right: 20px;
    bottom: 20px;
    position: fixed;
}

#notification
{
    left: 20px;
    bottom: 20px;
    position: fixed;
    background: white;
    border: 1px solid black;
    width: 200px;
    min-height: 50px;
}
