<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script type="text/javascript" src="/js/axios/axios.min.js"></script>
        <script type="text/javascript" src="/js/vue/vue.js"></script>
        <script type="text/javascript" src="/js/chart.js/chart.umd.js"></script>
        <script type="text/javascript" src="/_generic/session.js"></script>
        <script type="text/javascript" src="/_generic/filters.js"></script>
        <script type="text/javascript" src="chart-component.js"></script>
    </head>
    <body>
        <center>
            <nav>
                <input type="date" v-model="date" />
            </nav>
            <div class="container" align="center">
                <chart-component :config="getAssetChartConfig()"></chart-component>
                <chart-component :config="getRevenueExpenseChartConfig()"></chart-component>
            </div>
            <div v-for="type in [ 'assets', 'equity', 'liabilities', 'revenues', 'expenses', 'oci' ]" class="container">
                <h1>{{ $filters.translate("accounts.types." + type) }}</h1>
                <table>
                    <tr>
                        <th></th>
                        <th>{{ $filters.translate("balances.debit") }}</th>
                        <th>{{ $filters.translate("balances.credit") }}</th>
                        <th />
                    </tr>
                    <tr v-for="account in accounts">
                        <template v-if="account?.type == type">
                            <td>{{ account.display_name }}</td>
                            <td align="right">
                                <span v-if="(account.balance.$numberDecimal || account.balance) > 0">
                                    {{ $filters.formatNumber($filters.absolute(account.balance)) }}
                                </span>
                            </td>
                            <td align="right">
                                <span v-if="(account.balance.$numberDecimal || account.balance) <= 0">
                                    {{ $filters.formatNumber($filters.absolute(account.balance)) }}
                                </span>
                            </td>
                            <td>
                                <button @click="showLedgerRecords(account)" :title="$filters.translate('balances.show-records')">
                                    &#x1F4CB;
                                </button>
                            </td>
                        </template>
                    </tr>
                    <tr v-if="type == 'equity'">
                        <td>{{ $filters.translate("balances.current-pl") }}</td>
                        <td align="right">
                            <span v-if="profit > 0">
                                {{ $filters.formatNumber($filters.absolute(profit)) }}
                            </span>
                        </td>
                        <td align="right">
                            <span  v-if="profit <= 0">
                                {{ $filters.formatNumber($filters.absolute(profit)) }}
                            </span>
                        </td>
                        <td />
                    </tr>
                    <tr v-if="type != 'equity' && accounts.filter(a => a.type == type).length == 0">
                        <td>{{ $filters.translate("balances.none") }}</td>
                        <td />
                        <td />
                        <td />
                    </tr>
                </table>
            </div>
            <button class="newRecord" @click="openQuickRecorder()">
                Quick Recorder
            </button>
        </center>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>
