<!DOCTYPE HTML>
<html>
    <head>
        <title>YaBooks</title>
        <base target="main" />
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script type="text/javascript" src="/js/axios/axios.min.js"></script>
        <script type="text/javascript" src="/js/vue/vue.js"></script>
        <script type="text/javascript" src="/_generic/session.js"></script>
    </head>
    <body>
        <main>
            <nav>
                <a :href="(loggedIn ? '/home/' : '/login/')" style="font-weight: bold">
                    Home
                </a>
                <a @click="logout">
                    Logout
                </a>
                <a @click="openModal('/quick-recorder')">
                    Quick Recorder
                </a>
                <a @click="openModal('/notifications/')">
                    Notifications
                    <span class="badge" v-if="notifications">
                        {{ notifications }}
                    </span>
                </a>
                <span>
                    <img v-if="selectedBusinessId" src="https://img.freepik.com/vektoren-kostenlos/vogel-bunter-logo-gradientenvektor_343694-1365.jpg" id="logo" />
                    <img v-if="loggedIn" src="/api/v1/session/profile-picture" id="picture" />
                </span>
            </nav>
            <iframe id="main" name="main" src="/login/" @load="updateSessionData()"></iframe>
            <div id="shadow" v-if="modal">
                <iframe id="modal" name="modal" :src="modal"></iframe>
                <button id="close" @click="openModal(false)" alt="close">&#10006;</button>
            </iframe>
        </main>
        <script type="text/javascript">
            new Vue(
            {
                el: "main",

                data:
                {
                    modal: false,
                    loggedIn: false,
                    notifications: 0,
                    selectedBusinessId: null
                },

                async mounted()
                {
                    const notifier = new WebSocket(location.protocol.split("http").join("ws") + "//" + location.host + "/api/v1/notifications/ws");
                    notifier.onmessage = async (event) =>
                    {
                        ++this.notifications;
                        this.updateSessionData();
                    };
                },

                methods:
                {
                    openModal(url)
                    {
                        this.modal = url;
                    },

                    async updateSessionData()
                    {
                        try
                        {
                            this.loggedIn = (await loadSession())?.user;
                            this.selectedBusinessId = await getSelectedBusinessId();
                        }
                        catch(x)
                        {
                            this.loggedIn = false;
                            this.selectedBusinessId = null;
                        }
                        this.$forceUpdate();
                    },

                    async logout()
                    {
                        await axios.delete("/api/v1/session");
                        self.location = "/";
                    }
                }
            });
        </script>
    </body>
</html>
