html, body
{
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: "Roboto", sans-serif;
}

main
{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/_generic/background.jpg");
}

nav
{
    top: 0;
    left: 0;
    width: 100%;
    height: 29px;
    color: black;
    padding-top: 11px;
    position: absolute;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, .5);
}

nav a
{
    color: inherit;
    cursor: pointer;
    font-size: 11pt;
    text-decoration: none;
    display: inline-block;
    margin-left: 40px;
}

.badge
{
    color: white;
    padding: 4px 8px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background-color: orange;
}

#logo
{
    top: 10px;
    right: 40px;
    width: 60px;
    height: 60px;
    z-index: 99998;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
}

#picture
{
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    z-index: 99997;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
}

#main
{
    left: 0;
    top: 40px;
    border: 0;
    width: 100%;
    position: absolute;
    height: calc(100% - 40px);
}

iframe
{
    border: none;
}

#shadow
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: fixed;
    background: rgba(0, 0, 0, .8);
}

#shadow #modal
{
    top: 50px;
    width: 1000px;
    position: absolute;
    left: calc(50% - 500px);
    height: calc(100% - 100px);
}

#shadow #close
{
    top: 10px;
    left: 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 26pt;
    position: absolute;
    background: transparent;
}
