<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script type="text/javascript" src="/js/axios/axios.min.js"></script>
        <script type="text/javascript" src="/js/vue/vue.js"></script>
    </head>
    <body>
        <main>
            <nav class="menubar">
                <button class="menuitem" @click="back()">
                    <span class="icon">&#x2B05;&#xFE0F;</span>
                    <label>Back</label>
                </button>
                <button class="menuitem" :class="{ selected: tab === 'general' }" @click="selectTab('general')">
                    <span class="icon">&#x2139;&#xFE0F;</span>
                    <label>General</label>
                </button>
                <button class="menuitem" :class="{ selected: tab === 'ledger' }" @click="selectTab('ledger')">
                    <span class="icon">&#x1F4D6;</span>
                    <label>Ledger</label>
                </button>
                <!--<button class="menuitem" :class="{ selected: tab === 'costs' }" @click="selectTab('costs')">
                    <span class="icon">&#x1F4B5;</span>
                    <label>Costs</label>
                </button>
                <button class="menuitem" :class="{ selected: tab === 'inventory' }" @click="selectTab('inventory')">
                    <span class="icon">&#x1F4E6;</span>
                    <label>Inventory</label>
                </button>-->
                <button class="menuitem" @click="save()">
                    <span class="icon">&#x1F4BE;</span>
                    <label>Save</label>
                </button>
            </nav>
            <iframe v-if="doc._id" :src="`viewer/?transparent=true&doc_id=${doc._id}`" id="preview"></iframe>
            <div id="tabs">
                <div class="tab" v-if="tab === 'general'">
                    <general-tab :doc="doc"></general-tab>
                </div>
                <div class="tab" v-if="tab === 'ledger'">
                    <ledger-tab :doc="doc"></ledger-tab>
                </div>
                <div class="tab" v-if="tab === 'costs'">
                    <!-- TODO -->
                </div>
                <div class="tab" v-if="tab === 'inventory'">
                    <!-- TODO -->
                </div>
            </div>
        </main>
        <script type="text/javascript" src="/js/yabooks/searchable-dropdown.js"></script>
        <script type="text/javascript" src="components/ledger-tx.js"></script>
        <script type="text/javascript" src="tabs/general.js"></script>
        <script type="text/javascript" src="tabs/ledger.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>
