<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <link rel="stylesheet" type="text/css" href="/_generic/design.css" />
        <script type="text/javascript" src="/js/axios/axios.min.js"></script>
        <script type="text/javascript" src="/js/vue/vue.min.js"></script>
        <script type="text/javascript" src="/_generic/session.js"></script>
        <script type="text/javascript" src="/_generic/filters.js"></script>
    </head>
    <body>
        <main>
            <nav class="menubar">
                <button class="menuitem">
                    general
                </button>
                <button class="menuitems">
                    links
                </button>
                <button class="menuitem">
                    general ledger
                </button>
                <button class="menuitem" @click="save" :disabled="getLedgerTxWarnings()">
                    save changes
                </button>
            </nav>
            <div class="banner" v-if="error">
                &#x1f525; {{ error }}
            </div>
            <div class="tab" v-if="tab == 'general'">
                <table>
                    <tr>
                        <td>Document Type</td>
                        <td><input type="text" v-model="doc.type" /></td>
                    </tr>
                    <tr>
                        <td>Document Date</td>
                        <td><input type="date" v-model="doc.date" /></td>
                    </tr>
                    <tr>
                        <td>Internal Document Reference</td>
                        <td><input type="text" v-model="doc.internal_reference" /></td>
                    </tr>
                    <tr>
                        <td>Business Partner</td>
                        <td><input type="text" v-model="doc.business_partner" /></td>
                    </tr>
                    <tr>
                        <td>Intracompany Business Transaction</td>
                        <td><input type="checkbox" v-model="doc.intracompany" /></td>
                    </tr>
                    <tr>
                        <td>File Name</td>
                        <td><input type="text" v-model="doc.name" /></td>
                    </tr>
                    <tr>
                        <td>Tags</td>
                        <td><input type="text" :value="(doc.tags || []).join(',')" @onchange="doc.tags = this.value.split(',')" /></td>
                    </tr>
                    <tr>
                        <td>Posting Date</td>
                        <td><input type="datetime-local" v-model="doc.posting_date" /></td>
                    </tr>
                    <tr>
                        <td>Posted?</td>
                        <td><input type="checkbox" v-model="doc.posted" /></td>
                    </tr>
                    <tr>
                        <td>Amount Receivable (Payable)</td>
                        <td><input type="text" class="decimal" :value="parseDecimal(doc.receivable)" @onchange="doc.receivable = parseDecimal(this.value)" /></td>
                    </tr>
                    <tr>
                        <td>Due Date</td>
                        <td><input type="date" v-model="doc.due_date" /></td>
                    </tr>
                </table>
            </div>
            <div class="tab" v-if="tab == 'links'">
                <div>
                    <h2>Pays</h2>
                    <!-- TODO -->
                </div>
                <!-- TODO document links -->
            </div>
            <div class="tab" v-if="tab == 'ledger_transactions'">
                <span v-if="getLedgerTxWarnings()">
                    &#x26a0;&#xfe0f; {{ getLedgerTxWarnings() }}
                </span>
                <table>
                    <tr>
                        <th>Account</th>
                        <th>Text</th>
                        <th>Amount Debit</th>
                        <th>Amount Credit</th>
                        <th>Tax Code Base</th>
                        <th>Tax Code</th>
                        <th>Tax Percent</th>
                    </tr>
                    <tr is="ledger-tx" v-for="tx in doc.ledger_transactions" :tx="tx" />
                    <tr>
                        <td align="right" colspan="7">
                            <button @click="addLedgerTx()">
                                +
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </main>
        <script type="text/javascript" src="components/ledger-tx.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>
