<!DOCTYPE HTML>
<html>
    <head>
        <script type="text/javascript" src="/js/axios/axios.min.js"></script>
        <script type="text/javascript" src="/js/vue/vue.js"></script>
        <script type="text/javascript" src="/_generic/session.js"></script>
        <script type="text/javascript" src="/_generic/filters.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <main>
            <div id="login_form" :class="{ larger: (stage !== 'email') }">
                <form onsubmit="return false">
                    <div v-if="stage !== 'email'" id="header">
                        <a href="#" @click="resetLogin()">
                            &#xFF1C;
                        </a>
                        <span>{{ email }}</span>
                    </div>
                    <input v-if="stage === 'email'" type="email" v-model="email"
                        :placeholder="$filters.translate('start.login.email')" />
                    <input v-if="stage === 'password'" type="password" v-model="password"
                        :placeholder="$filters.translate('start.login.password')" />
                    <input v-if="stage === 'authenticator'" type="number" v-model="authenticator_token"
                        :placeholder="$filters.translate('start.login.token')" />
                    <button type="submit" @click="login">
                        {{ $filters.translate('start.login.login') }}
                    </button>
                </form>
            </div>
        </main>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>
