<!DOCTYPE HTML>
<html>
    <head>
        <script type="text/javascript" src="/js/axios/axios.min.js"></script>
        <script type="text/javascript" src="/js/vue/vue.js"></script>
        <script type="text/javascript" src="/_generic/session.js"></script>
        <script type="text/javascript" src="/_generic/filters.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <main>
            <nav>
                <a class="button" href="#" @click="openMarket(); return false">
                    {{ $filters.translate("apps-registry.go-to-market") }}
                </a>
                <a class="button" href="#" @click="newApiKey(); return false">
                    {{ $filters.translate("apps-registry.create-api-key") }}
                </a>
                <a class="button" href="/api/doc/" target="_blank">
                    {{ $filters.translate("apps-registry.api-documentation") }}
                </a>
            </nav>
            <div v-for="app in apps" class="container">
                <div class="app">
                    <img :src="app.icon || 'icon.png'" class="icon" />
                    <div class="description">
                        <h2>{{ app.name }}</h2>
                        <h3>{{ app.bundle_id }}</h3>
                        <span>
                            {{ $filters.translate("apps-registry.registered-at") }}
                            {{ formatDateFromId(app._id) }}
                        </span>
                        <button @click="unregister(app)">
                            {{ $filters.translate("apps-registry.unregister") }}
                        </button>
                    </div>
                </div>
            </div>
            <div v-if="apps?.length == 0">
                {{ $filters.translate("apps-registry.no-apps-registered") }}
            </div>
        </main>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>
