<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script type="text/javascript" src="/js/axios/axios.min.js"></script>
        <script type="text/javascript" src="/js/vue/vue.min.js"></script>
    </head>
    <body>
        <div id="app_screen">
            <div class="app" @click="navigate({ link: '/people/' })">
                <img class="icon" src="/people/icon.svg" />
                <span>People</span>
            </div>
            <div class="app" @click="navigate({ link: '/accounts/' })">
                <img class="icon" src="/accounts/icon.svg" />
                <span>Accounts</span>
            </div>
            <div class="app" @click="navigate({ link: '/documents/' })">
                <img class="icon" src="/documents/icon.svg" />
                <span>Documents</span>
            </div>
            <div class="app" @click="navigate({ link: '/balances/' })">
                <img class="icon" src="/balances/icon.svg" />
                <span>Balances</span>
            </div>
            <div class="app" v-for="app in apps" v-if="app.link" @click="navigate(app)">
                <img class="icon" :src="app.icon" />
                <span>{{ app.name }}</span>
            </div>
            <div class="app" @click="navigate({ link: '/apps/' })">
                <img class="icon" src="/apps/icon.png" />
                <span>Apps Market</span>
            </div>
            <div class="app" @click="navigate({ link: '/settings/' })">
                <img class="icon" src="/settings/icon.svg" />
                <span>Settings</span>
            </div>
        </div>
        <script type="text/javascript">
            new Vue(
            {
                el: "#app_screen",

                data:
                {
                    apps: []
                },

                async created()
                {
                    let res = await axios.get("/api/v1/apps")
                    this.apps = res.data.data;
                },

                methods:
                {
                    navigate: (app) =>
                    {
                        self.location = app.link;
                    }
                }
            });
        </script>
    </body>
</html>
