html, body
{
    height: 100%;
    margin: 0 0 0 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

#app_screen
{
    top: 50%;
    left: 50%;
    margin-right: -50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.app
{
    cursor: pointer;
    padding-bottom: 20px;
    display: inline-block;
}

.app .icon
{
    width: 125px;
    height: 125px;
    display: block;
    border-radius: 20%;
    background-color: white;
    margin: 20px 20px 5px 20px;
}

.app span
{
    top: 0;
    left: 0;
    width: 125px;
    color: white;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
}
