<!DOCTYPE HTML>
<html>
    <head>
        <script type="text/javascript" src="/js/axios/axios.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    </head>
    <body>
        <div id="identities_list">
            <div class="identity" v-for="identity in identities">
                <img src="" />
                <span @click="toggleExpanded(identity)">
                    {{ identity.full_name }}
                </span>
                <ul v-if="identity.expanded">
                    <li v-for="business in identity.businesses" @click="selectBusiness(business)">
                        {{ business.name }}
                    </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            new Vue(
            {
                el: "#identities_list",

                data:
                {
                    identities: []
                },

                async created()
                {
                    let res = await axios.get(`/api/v1/identities`);
                    this.identities = res.data.data;
                },

                methods:
                {
                    toggleExpanded: async function(identity)
                    {
                        identity.expanded = !identity.expanded;
                        this.$forceUpdate();

                        if(!identity.businesses)
                        {
                            let res = await axios.get(`/api/v1/identities/${identity.id}/businesses`);
                            identity.businesses = res.data.data;
                            this.$forceUpdate();
                        }
                    },

                    selectBusiness: async (business) =>
                    {
                        // store selection in local storage
                        localStorage.setItem("business", business._id);

                        // store selection in session
                        await axios.put("/api/v1/session", { business: business._id });
                    }
                }
            });
        </script>
    </body>
</html>
