<!DOCTYPE HTML>
<html>
    <head>
        <script type="text/javascript" src="/js/axios/axios.min.js"></script>
        <script type="text/javascript" src="/js/vue/vue.js"></script>
        <script type="text/javascript" src="/_generic/session.js"></script>
        <script type="text/javascript" src="/_generic/filters.js"></script>
        <link rel="stylesheet" type="text/css" href="profile.css" />
    </head>
    <body>
        <main>
            <div class="widget">
                <img class="profile_picture" v-if="individual?._id" :src="`/api/v1/identities/${individual._id}/picture`" />
                <span>
                    {{ individual.full_name }}
                    <small v-if="individual.birthdate">&#x1F382; {{ $filters.formatDate(individual.birthdate) }}</small>
                </span>
            </div>
            <div class="widget">
                <span class="title">{{ $filters.translate("people.dba") }}</span>
                <button class="plus" @click="addDba()" :title="$filters.translate('people.dba.add')">+</button>
                <ul>
                    <li class="dba" v-for="dba in individual.dba">
                        {{ dba }}
                    </li>
                </ul>
            </div>
            <div class="widget">
                <span class="title">{{ $filters.translate("people.main-contact") }}</span>
                <button class="plus" @click="addContact()" :title="$filters.translate('people.main-contact.add')">+</button>
                <ul>
                    <li class="contact" v-if="individual.main_email?.address">
                        &#x1F4E7;
                        {{ individual.main_email.address }}
                    </li>
                    <li class="contact" v-if="individual.main_phone?.formatted_international_number">
                        &#x260E;&#xFE0F;
                        {{ individual.main_phone.formatted_international_number }}
                    </li>
                    <li class="contact" v-if="individual.main_address?.full_address">
                        &#x1F3E0;
                        {{ individual.main_address.full_address.split("\n").join(", ") }}
                    </li>
                    <li class="contact" v-for="adr in individual.more_addresses">
                        &#x1F3E0;
                        {{ adr.full_address.split("\n").join(", ") }}
                    </li>
                </ul>
            </div>
            <div class="widget">
                <span class="title">{{ $filters.translate("people.tax-no") }}</span>
                <button class="plus" @click="addTaxNo()" :title="$filters.translate('people.tax-no.add')">+</button>
                <ul>
                    <li v-for="(value, key) in individual.tax_numbers">
                        {{ $filters.toFlagEmoji(key?.substring?.(0, 2)) }}
                        <span class="tag">{{ key }}</span>
                        <span class="id">{{ value }}</span>
                    </li>
                </ul>
            </div>
            <div class="widget">
                <span class="title">{{ $filters.translate("people.businesses") }}</span>
                <button class="plus" @click="addBusiness()" :title="$filters.translate('people.businesses.add')">+</button>
                <ul>
                    <li class="business" v-for="business in businesses.data">
                        <img class="logo" :src="`/api/v1/businesses/${business._id}/logo`" />
                        <span>{{ business.name }}</span>
                        <button @click="selectBusiness(business)" title="focus">&#x1F447;</button>
                    </li>
                </ul>
            </div>
            <div class="widget">
                <span class="title">{{ $filters.translate("people.relationships") }}</span>
                <button class="plus" @click="addRelationship()" :title="$filters.translate('people.relationships.add')">+</button>
                <ul>
                    <li class="relationship" v-for="rel in relationships" :set="partner = (rel?.from._id == individual?._id ? rel?.to : rel?.from)">
                        {{ rel?.icon || "\uD83D\uDD17" }}
                        <span class="tag" v-if="rel?.from?._id == individual?._id">
                            {{ rel?.type }}
                        </span>
                        <a :href="`${partner?.kind?.toLowerCase?.()}.html?${partner?._id}`">
                            {{ partner?.full_name }}
                        </a>
                        <span class="tag" v-if="rel?.to?._id == individual?._id">
                            {{ rel?.type }}
                        </span>
                    </li>
                </ul>
            </div>
        </main>
        <script type="text/javascript">
            let app = Vue.createApp(
            {
                data()
                {
                    return {
                        individual: {},
                        businesses: [],
                        relationships: []
                    };
                },

                async mounted()
                {
                    try
                    {
                        await loadTranslations({ "code*": "people." });

                        this.individual._id = self.location.search.substring(1);
                        await this.load();
                    }
                    catch(x)
                    {
                        console.error(x);
                        self.location = "/people/";
                    }
                },

                methods:
                {
                    load: async function()
                    {
                        let res = await axios.get(`/api/v1/identities/${this.individual._id}`);
                        this.individual = res.data;
                        this.$forceUpdate();

                        res = await await axios.get(`/api/v1/identities/${this.individual._id}/businesses`);
                        this.businesses = res.data;
                        this.$forceUpdate();

                        res = await await axios.get(`/api/v1/identities/${this.individual._id}/relationships`);
                        this.relationships = res.data;
                        this.$forceUpdate();
                    },

                    addDba()
                    {
                        // TODO
                    },

                    addTaxNo()
                    {
                        // TODO
                    },

                    addBusiness()
                    {
                        // TODO
                    },

                    addRelationship()
                    {
                        // TODO
                    },

                    selectBusiness: async (business) =>
                    {
                        // store selection in session and refresh page
                        await axios.put("/api/v1/session", { business: business._id });
                        console.info("context changed to business", business._id);
                        window.parent.document.app.updateSessionData();
                    }
                }
            });

            app.config.globalProperties.$filters = { ...filters };
            app.mount("main");
        </script>
    </body>
</html>
