<!DOCTYPE HTML>
<html>
    <head>
        <script type="text/javascript" src="/js/axios/axios.min.js"></script>
        <script type="text/javascript" src="/js/vue/vue.js"></script>
        <script type="text/javascript" src="/_generic/session.js"></script>
        <script type="text/javascript" src="/_generic/filters.js"></script>
        <link rel="stylesheet" type="text/css" href="profile.css" />
    </head>
    <body>
        <main>
            <div class="widget">
                <div class="profile-row">
                    <div class="picture-wrap" v-if="organization?._id" :class="{ uploading: uploadingPicture }" @click="triggerPictureUpload()" :title="$filters.translate('people.change-picture')">
                        <img class="profile_picture" :src="pictureUrl" />
                        <span class="picture-overlay">{{ uploadingPicture ? "…" : "\u{1F4F7}" }}</span>
                        <input type="file" accept="image/*" ref="pictureInput" style="display: none" @change="uploadPicture($event)" />
                    </div>
                    <span v-if="!editing">
                        {{ organization.full_name }}
                        <small v-if="organization.registration_number || organization.jurisdiction_of_incorporation">
                            {{ $filters.toFlagEmoji(organization.jurisdiction_of_incorporation?.substring?.(0, 2)) }}
                            <span v-if="organization.jurisdiction_of_incorporation" class="tag">{{ organization.jurisdiction_of_incorporation }}</span>
                            <span v-if="organization.registration_number" class="id">{{ organization.registration_number }}</span>
                        </small>
                    </span>
                    <div class="fields" v-else>
                        <input type="text" v-model="organization.full_name" :placeholder="$filters.translate('people.full-name')" />
                        <div class="row">
                            <input type="text" v-model="organization.jurisdiction_of_incorporation" :placeholder="$filters.translate('people.jurisdiction')" style="max-width: 90px" />
                            <input type="text" v-model="organization.registration_number" :placeholder="$filters.translate('people.registration-number')" />
                        </div>
                    </div>
                    <button class="edit-toggle" v-if="!editing" @click="edit()" :title="$filters.translate('people.edit')">&#x270F;&#xFE0F;</button>
                </div>
                <div class="actions" v-if="editing">
                    <button @click="save()" :disabled="saving">{{ $filters.translate("people.save") }}</button>
                    <button @click="cancel()">{{ $filters.translate("people.cancel") }}</button>
                </div>
                <span class="error" v-if="error">{{ error }}</span>
            </div>
            <div class="widget">
                <span class="title">{{ $filters.translate("people.dba") }}</span>
                <button class="plus" @click="addDba()" :title="$filters.translate('people.dba.add')">+</button>
                <ul v-if="!editing">
                    <li class="dba" v-for="dba in organization.dba">
                        {{ dba }}
                    </li>
                </ul>
                <ul v-else>
                    <li class="dba editable" v-for="(dba, index) in organization.dba">
                        <input type="text" v-model="organization.dba[index]" :placeholder="$filters.translate('people.dba-name')" />
                        <button class="remove" @click="organization.dba.splice(index, 1)">&#x2715;</button>
                    </li>
                </ul>
            </div>
            <div class="widget">
                <span class="title">{{ $filters.translate("people.main-contact") }}</span>
                <button class="plus" @click="addContact()" :title="$filters.translate('people.main-contact.add')">+</button>
                <ul v-if="!editing">
                    <li class="contact" v-if="organization.main_email?.address">
                        &#x1F4E7;
                        {{ organization.main_email.address }}
                    </li>
                    <li class="contact" v-if="organization.main_phone?.formatted_international_number">
                        &#x260E;&#xFE0F;
                        {{ organization.main_phone.formatted_international_number }}
                    </li>
                    <li class="contact" v-if="organization.main_address?.full_address">
                        &#x1F3E0;
                        {{ organization.main_address.full_address.split("\n").join(", ") }}
                    </li>
                    <li class="contact" v-for="adr in organization.more_addresses">
                        &#x1F3E0;
                        {{ adr.full_address.split("\n").join(", ") }}
                    </li>
                </ul>
                <div v-else>
                    <div class="fields">
                        <input type="email" v-model="organization.main_email.address" :placeholder="$filters.translate('people.email')" />
                        <input type="text" v-model="organization.main_phone.number" :placeholder="$filters.translate('people.phone')" />
                        <div class="row">
                            <input type="text" v-model="organization.main_address.street" :placeholder="$filters.translate('people.street')" />
                            <input type="text" v-model="organization.main_address.building_number" :placeholder="$filters.translate('people.building-number')" style="max-width: 90px" />
                        </div>
                        <div class="row">
                            <input type="text" v-model="organization.main_address.zip_code" :placeholder="$filters.translate('people.zip-code')" style="max-width: 110px" />
                            <input type="text" v-model="organization.main_address.city" :placeholder="$filters.translate('people.city')" />
                        </div>
                        <input type="text" v-model="organization.main_address.jurisdiction" :placeholder="$filters.translate('people.jurisdiction')" />
                    </div>
                    <div class="fields" v-for="(adr, index) in organization.more_addresses" style="margin-top: 10px">
                        <div class="row">
                            <input type="text" v-model="adr.street" :placeholder="$filters.translate('people.street')" />
                            <input type="text" v-model="adr.building_number" :placeholder="$filters.translate('people.building-number')" style="max-width: 90px" />
                            <button class="remove" @click="organization.more_addresses.splice(index, 1)">&#x2715;</button>
                        </div>
                        <div class="row">
                            <input type="text" v-model="adr.zip_code" :placeholder="$filters.translate('people.zip-code')" style="max-width: 110px" />
                            <input type="text" v-model="adr.city" :placeholder="$filters.translate('people.city')" />
                        </div>
                        <input type="text" v-model="adr.jurisdiction" :placeholder="$filters.translate('people.jurisdiction')" />
                    </div>
                    <button class="add-mini" @click="organization.more_addresses.push({})">+ {{ $filters.translate("people.address.add-another") }}</button>
                </div>
            </div>
            <div class="widget">
                <span class="title">{{ $filters.translate("people.bank-connections") }}</span>
                <button class="plus" @click="addBankAccount()" :title="$filters.translate('people.bank-connections.add')">+</button>
                <ul v-if="!editing">
                    <li class="bank-account" v-if="organization.main_bank_account?.iban">
                        <span class="iban">&#x1F3E6; {{ organization.main_bank_account.iban }}</span>
                        <span class="meta" v-if="organization.main_bank_account.bank_name || organization.main_bank_account.account_holder_name">
                            {{ organization.main_bank_account.bank_name }}
                            {{ organization.main_bank_account.account_holder_name }}
                        </span>
                    </li>
                    <li class="bank-account" v-for="account in (organization.more_bank_accounts || []).filter(a => a.iban)">
                        <span class="iban">&#x1F3E6; {{ account.iban }}</span>
                        <span class="meta" v-if="account.bank_name || account.account_holder_name">
                            {{ account.bank_name }}
                            {{ account.account_holder_name }}
                        </span>
                    </li>
                    <li v-if="!organization.main_bank_account?.iban && !(organization.more_bank_accounts || []).some(a => a.iban)">
                        {{ $filters.translate("people.bank-connections.none") }}
                    </li>
                </ul>
                <div v-else>
                    <div class="fields">
                        <div class="row">
                            <input type="text" v-model="organization.main_bank_account.iban" :placeholder="$filters.translate('people.iban')" />
                            <input type="text" v-model="organization.main_bank_account.bic" :placeholder="$filters.translate('people.bic')" style="max-width: 110px" />
                        </div>
                        <div class="row">
                            <input type="text" v-model="organization.main_bank_account.bank_name" :placeholder="$filters.translate('people.bank-name')" />
                            <input type="text" v-model="organization.main_bank_account.account_holder_name" :placeholder="$filters.translate('people.bank-account-holder')" />
                        </div>
                    </div>
                    <div class="fields" v-for="(account, index) in organization.more_bank_accounts" style="margin-top: 10px">
                        <div class="row">
                            <input type="text" v-model="account.iban" :placeholder="$filters.translate('people.iban')" />
                            <input type="text" v-model="account.bic" :placeholder="$filters.translate('people.bic')" style="max-width: 110px" />
                            <button class="remove" @click="organization.more_bank_accounts.splice(index, 1)">&#x2715;</button>
                        </div>
                        <div class="row">
                            <input type="text" v-model="account.bank_name" :placeholder="$filters.translate('people.bank-name')" />
                            <input type="text" v-model="account.account_holder_name" :placeholder="$filters.translate('people.bank-account-holder')" />
                        </div>
                    </div>
                    <button class="add-mini" @click="organization.more_bank_accounts.push({})">+ {{ $filters.translate("people.bank-connections.add-another") }}</button>
                </div>
            </div>
            <div class="widget">
                <span class="title">{{ $filters.translate("people.tax-no") }}</span>
                <button class="plus" @click="addTaxNo()" :title="$filters.translate('people.tax-no.add')">+</button>
                <ul v-if="!editing">
                    <li v-for="(value, key) in organization.tax_numbers">
                        {{ $filters.toFlagEmoji(key?.substring?.(0, 2)) }}
                        <span class="tag">{{ key }}</span>
                        <span class="id">{{ value }}</span>
                    </li>
                </ul>
                <div v-else>
                    <ul>
                        <li v-for="(value, key) in organization.tax_numbers">
                            <span class="tag">{{ key }}</span>
                            <input type="text" class="id" v-model="organization.tax_numbers[key]" />
                            <button class="remove" @click="removeTaxNumber(key)">&#x2715;</button>
                        </li>
                    </ul>
                    <div class="add-row">
                        <input type="text" v-model="newTaxNumberKey" :placeholder="$filters.translate('people.tax-number-key')" style="max-width: 110px" />
                        <input type="text" v-model="newTaxNumberValue" :placeholder="$filters.translate('people.tax-number-value')" />
                        <button @click="commitTaxNumber()">+</button>
                    </div>
                </div>
            </div>
            <div class="widget">
                <span class="title">{{ $filters.translate("people.businesses") }}</span>
                <button class="plus" @click="addBusiness()" :title="$filters.translate('people.businesses.add')">+</button>
                <ul>
                    <li class="business" v-for="business in businesses.data">
                        <img class="logo" :src="`/api/v1/businesses/${business._id}/logo`" />
                        <span>{{ business.name }}</span>
                        <button @click="selectBusiness(business)" title="focus">&#x1F447;</button>
                    </li>
                </ul>
            </div>
            <div class="widget">
                <span class="title">{{ $filters.translate("people.relationships") }}</span>
                <button class="plus" @click="addRelationship()" :title="$filters.translate('people.relationships.add')">+</button>
                <ul>
                    <li class="relationship" v-for="rel in relationships" :set="partner = (rel?.from._id == organization?._id ? rel?.to : rel?.from)">
                        {{ rel?.icon || "🔗" }}
                        <span class="tag" v-if="rel?.from?._id == organization?._id">
                            {{ rel?.type }}
                        </span>
                        <a :href="`${partner?.kind?.toLowerCase?.()}.html?${partner?._id}`">
                            {{ partner?.full_name }}
                        </a>
                        <span class="tag" v-if="rel?.to?._id == organization?._id">
                            {{ rel?.type }}
                        </span>
                    </li>
                </ul>
            </div>
        </main>
        <script type="text/javascript">
            let app = Vue.createApp(
            {
                data()
                {
                    return {
                        organization: {},
                        businesses: [],
                        relationships: [],
                        editing: false,
                        snapshot: null,
                        saving: false,
                        error: null,
                        newTaxNumberKey: "",
                        newTaxNumberValue: "",
                        pictureVersion: Date.now(),
                        uploadingPicture: false
                    };
                },

                computed:
                {
                    pictureUrl()
                    {
                        return `/api/v1/identities/${this.organization._id}/picture?v=${this.pictureVersion}`;
                    }
                },

                async mounted()
                {
                    try
                    {
                        await loadTranslations({ "code*": "people." });

                        this.organization._id = self.location.search.substring(1);
                        await this.load();
                    }
                    catch(x)
                    {
                        console.error("Could not load organization", x);
                        self.location = "/people/";
                    }
                },

                methods:
                {
                    load: async function()
                    {
                        let res = await axios.get(`/api/v1/identities/${this.organization._id}`);
                        this.organization = res.data;
                        this.$forceUpdate();

                        res = await axios.get(`/api/v1/identities/${this.organization._id}/businesses`);
                        this.businesses = res.data;
                        this.$forceUpdate();

                        res = await axios.get(`/api/v1/identities/${this.organization._id}/relationships`);
                        this.relationships = res.data;
                        this.$forceUpdate();
                    },

                    edit()
                    {
                        this.error = null;
                        this.snapshot = JSON.parse(JSON.stringify(this.organization));

                        this.organization.dba = this.organization.dba || [];
                        this.organization.tax_numbers = this.organization.tax_numbers || {};
                        this.organization.main_email = this.organization.main_email || {};
                        this.organization.main_phone = this.organization.main_phone || {};
                        this.organization.main_address = this.organization.main_address || {};
                        this.organization.more_addresses = this.organization.more_addresses || [];
                        this.organization.main_bank_account = this.organization.main_bank_account || {};
                        this.organization.more_bank_accounts = this.organization.more_bank_accounts || [];

                        this.editing = true;
                    },

                    cancel()
                    {
                        this.organization = this.snapshot;
                        this.snapshot = null;
                        this.editing = false;
                        this.error = null;
                    },

                    isAddressBlank(address)
                    {
                        return !address || !(address.street || address.building_number ||
                            address.zip_code || address.city || address.additional_info || address.jurisdiction);
                    },

                    isAddressComplete(address)
                    {
                        return !!(address?.street && address?.building_number && address?.zip_code && address?.city);
                    },

                    isBankAccountBlank(account)
                    {
                        return !account || !(account.iban || account.bic || account.bank_name ||
                            account.account_holder_name || account.local_account_number || account.local_bank_identifier);
                    },

                    normalizeBankAccount(account)
                    {
                        return {
                            ...account,
                            iban: account.iban ? account.iban.toUpperCase().replace(/\s+/g, "") : account.iban,
                            bic: account.bic ? account.bic.toUpperCase().replace(/\s+/g, "") : account.bic
                        };
                    },

                    normalizeAddress(address)
                    {
                        let normalized = { ...address };

                        if(normalized.jurisdiction?.trim())
                            normalized.jurisdiction = normalized.jurisdiction.trim().toUpperCase();
                        else delete normalized.jurisdiction;

                        return normalized;
                    },

                    async save()
                    {
                        this.error = null;

                        if(!this.organization.full_name?.trim())
                            return this.error = this.$filters.translate("people.new.error.name-required");

                        if(this.organization.main_phone?.number && !/^\+[0-9]{6,14}$/.test(this.organization.main_phone.number))
                            return this.error = this.$filters.translate("people.error.invalid-phone");

                        let addresses = [ this.organization.main_address, ...this.organization.more_addresses ];
                        if(!addresses.every(a => this.isAddressBlank(a) || this.isAddressComplete(a)))
                            return this.error = this.$filters.translate("people.error.incomplete-address");

                        this.saving = true;

                        try
                        {
                            let payload = {
                                full_name: this.organization.full_name.trim(),
                                registration_number: this.organization.registration_number,
                                jurisdiction_of_incorporation: this.organization.jurisdiction_of_incorporation?.trim()
                                    ? this.organization.jurisdiction_of_incorporation.trim().toUpperCase() : undefined,
                                dba: this.organization.dba.filter(dba => dba?.trim()),
                                tax_numbers: Object.fromEntries(Object.entries(this.organization.tax_numbers)
                                    .filter(([ key, value ]) => key?.trim() && value?.trim())),
                                main_email: this.organization.main_email?.address?.trim() ? this.organization.main_email : null,
                                main_phone: this.organization.main_phone?.number?.trim() ? this.organization.main_phone : null,
                                main_address: this.isAddressBlank(this.organization.main_address) ?
                                    null : this.normalizeAddress(this.organization.main_address),
                                more_addresses: this.organization.more_addresses
                                    .filter(a => !this.isAddressBlank(a)).map(this.normalizeAddress),
                                main_bank_account: this.isBankAccountBlank(this.organization.main_bank_account) ?
                                    null : this.normalizeBankAccount(this.organization.main_bank_account),
                                more_bank_accounts: this.organization.more_bank_accounts
                                    .filter(a => !this.isBankAccountBlank(a)).map(this.normalizeBankAccount)
                            };

                            await axios.patch(`/api/v1/organizations/${this.organization._id}`, payload);
                            await this.load();

                            this.editing = false;
                            this.snapshot = null;
                        }
                        catch(x)
                        {
                            this.error = x?.response?.data?.error || x?.message || String(x);
                        }
                        finally
                        {
                            this.saving = false;
                        }
                    },

                    removeTaxNumber(key)
                    {
                        delete this.organization.tax_numbers[key];
                    },

                    commitTaxNumber()
                    {
                        if(!this.newTaxNumberKey?.trim() || !this.newTaxNumberValue?.trim())
                            return;

                        this.organization.tax_numbers[this.newTaxNumberKey.trim()] = this.newTaxNumberValue.trim();
                        this.newTaxNumberKey = "";
                        this.newTaxNumberValue = "";
                    },

                    triggerPictureUpload()
                    {
                        this.$refs.pictureInput.click();
                    },

                    async uploadPicture(event)
                    {
                        let file = event.target.files[0];
                        event.target.value = "";

                        if(!file)
                            return;

                        this.error = null;
                        this.uploadingPicture = true;

                        try
                        {
                            let binary = await file.arrayBuffer();
                            await axios.put(`/api/v1/identities/${this.organization._id}/picture`, binary,
                                { headers: { "Content-Type": file.type || "application/octet-stream" } });

                            this.pictureVersion = Date.now();
                        }
                        catch(x)
                        {
                            this.error = x?.response?.data?.error || this.$filters.translate("people.error.picture-upload");
                        }
                        finally
                        {
                            this.uploadingPicture = false;
                        }
                    },

                    addDba()
                    {
                        if(!this.editing)
                            this.edit();

                        this.organization.dba.push("");
                    },

                    addTaxNo()
                    {
                        if(!this.editing)
                            this.edit();
                    },

                    addContact()
                    {
                        if(!this.editing)
                            this.edit();
                    },

                    addBankAccount()
                    {
                        if(!this.editing)
                            this.edit();

                        this.organization.more_bank_accounts.push({});
                    },

                    addBusiness()
                    {
                        // TODO
                    },

                    addRelationship()
                    {
                        // TODO
                    },

                    selectBusiness: async (business) =>
                    {
                        // store selection in session and refresh page
                        await axios.put("/api/v1/session", { business: business._id });
                        console.info("context changed to business", business._id);
                        window.parent.document.app.updateSessionData();
                    }
                }
            });

            app.config.globalProperties.$filters = { ...filters };
            app.mount("main");
        </script>
    </body>
</html>
