<!DOCTYPE HTML>
<html>
    <head>
        <script type="text/javascript" src="/js/axios/axios.min.js"></script>
        <script type="text/javascript" src="/js/vue/vue.min.js"></script>
    </head>
    <body>
        <main>
            <span v-if="!isPdf()">
                {{ doc.name }}
                <button @click="downloadDocument">download</button>
            </span>
            <iframe v-if="isPdf()" :src="`pdf/?${doc._id}`" :class="{ transparent }"></iframe>
        </main>
        <style type="text/css">
            iframe
            {
                top: 0;
                left: 0;
                border: 0;
                width: 100%;
                height: 100%;
                position: absolute;
            }
            iframe:not(.transparent)
            {
                background-color: #414447;
            }
        </style>
        <script type="text/javascript">
            new Vue(
            {
                el: "main",

                mounted()
                {
                    const reqParams = new URLSearchParams(self.location.search);

                    if(reqParams.get("doc_id"))
                        this.loadDocument(reqParams.get("doc_id"));

                    if(reqParams.get("transparent"))
                        this.transparent = true;

                    if(reqParams.get("websocket"))
                        ;// TODO
                },

                data:
                {
                    pdf: null,
                    doc: null,
                    transparent: false
                },

                methods:
                {
                    async loadDocument(doc_id)
                    {
                        let doc = await axios.get(`/api/v1/documents/${doc_id}`);
                        this.doc = doc.data;
                        this.$forceUpdate();
                    },

                    isPdf()
                    {
                        return this.doc.mime_type === 'application/pdf';
                    },

                    downloadDocument()
                    {
                        self.location = `/api/v1/documents/${this.doc._id}/binary`;
                    }
                }
            });
        </script>
    </body>
</html>