<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Document Editor</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="icon" type="image/png" href="/_generic/icon.png"/>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script type="text/javascript" src="/js/axios/axios.min.js"></script>
        <script type="text/javascript" src="/js/vue/vue.js"></script>
        <script type="text/javascript" src="/_generic/session.js"></script>
        <script type="text/javascript" src="/_generic/filters.js"></script>
        <script type="text/javascript" src="../components/page.js"></script>
    </head>
    <body>
        <main>
            <div id="preview">
                <div v-if="pages > 0" class="scaled" :style="{ transform: `scale(${zoom})` }">
                    <template v-for="page in pages" :key="page">
                        <Page :image="pagePreviewSrc(page)"
                            :annotations="annotations[page-1]"
                            :annotations-supported="annotations_supported"
                            :tool="tool" @change="saveAnnotations"></Page>
                    </template>
                </div>
                <div v-if="pages == 0">
                    <img :src="thumbnailSrc()" style="max-width: 25%; max-height: 50%">
                    <h3>{{ file_name }}</h3>
                </div>
            </div>
            <div id="toolbar">
                <button class="toolButton" v-if="annotations_supported" @click="chooseTool('pencil')" title="Draw">
                    &#x270F;&#xFE0F;
                </button>
                <button class="toolButton" v-if="annotations_supported" @click="chooseTool('pen')" title="Draw">
                    &#x1F58A;&#xFE0F;
                </button>
                <button class="toolButton" v-if="annotations_supported" @click="chooseTool('fountain-pen')" title="Draw">
                    &#x1F58B;&#xFE0F;
                </button>
                <button class="toolButton" v-if="annotations_supported" @click="chooseTool('paintbrush')" title="Draw">
                    &#x1F58C;&#xFE0F;
                </button>
                <button class="toolButton" v-if="annotations_supported" @click="chooseTool('crayon')" title="Draw">
                    &#x1F58D;&#xFE0F;
                </button>
                <button class="toolButton" v-if="annotations_supported" @click="chooseTool('eraser')" title="Erase">
                    &#x1F5D1;&#xFE0F;
                </button>
                <button class="toolButton" v-if="pages > 0" @click="adaptZoomLevel(-0.1)" :disabled="zoom <= 0.2" title="Zoom Out">
                    &#x2796;
                </button>
                <button class="toolButton" v-if="pages > 0" @click="adaptZoomLevel(0.1)" :disabled="zoom > 1.5" title="Zoom In">
                    &#x2795;
                </button>
                <button class="toolButton" v-if="!isSecondScreen" :disabled="isPreparingSecondScreen" @click="useSecondScreen()" title="Open on tablet">
                    <template v-if="isPreparingSecondScreen">
                        &#x23F3;
                    </template>
                    <template v-else>
                        &#x1F4F2;
                    </template>
                </button>
                <button class="toolButton" @click="downloadDocument()" title="Download PDF">
                    &#x1F4E9;
                </button>
            </div>
        </main>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>
