<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script type="text/javascript" src="/js/axios/axios.min.js"></script>
        <script type="text/javascript" src="/js/vue/vue.js"></script>
        <script type="text/javascript" src="/_generic/session.js"></script>
        <script type="text/javascript" src="/_generic/filters.js"></script>
        <script type="text/javascript" src="wildguess.js"></script>
    <body>
        <main>
            <input type="text" id="recorder"
                v-model="input" @keyup="guess" autocomplete="off"
                @dragover="acceptFile" @drop="fileDropped" :readonly="processing"
                :class="{ green: input_complete, yellow: (input_complete === false) }"
                :placeholder="$filters.translate('quick-recorder.type-here')" autofocus />
            <div v-if="!input_complete">
                {{ $filters.translate('quick-recorder.manual') }}
                <a target="_blank" :href="$filters.translate('quick-recorder.manual.link')">&#x2139;&#xFE0F;</a>
            </div>
            <table class="discovery">
                <tr v-if="wildguess.type">
                    <td>{{ $filters.translate('quick-recorder.document-number') }}</td>
                    <td>{{ wildguess.type }} {{ wildguess.document_number }}</td>
                </tr>
                <tr v-if="wildguess.date">
                    <td>{{ $filters.translate('quick-recorder.date') }}</td>
                    <td>{{ $filters.formatDate(wildguess.date) }}</td>
                </tr>
                <tr v-if="wildguess.text">
                    <td>{{ $filters.translate('quick-recorder.text') }}</td>
                    <td>{{ wildguess.text }}</td>
                </tr>
                <tr v-if="wildguess.account_debit">
                    <td>{{ $filters.translate('quick-recorder.account-debit') }}</td>
                    <td>{{ wildguess.account_debit }} {{ wildguess.account_debit_details?.display_name ?? "\u2753" }}</td>
                </tr>
                <tr v-if="wildguess.account_credit">
                    <td>{{ $filters.translate('quick-recorder.account-credit') }}</td>
                    <td>{{ wildguess.account_credit }} {{ wildguess.account_credit_details?.display_name ?? "\u2753" }}</td>
                </tr>
                <tr v-if="wildguess.amount">
                    <td>
                        {{ $filters.translate('quick-recorder.amount') }}
                        <span v-if="wildguess.tax_percent_debit || wildguess.tax_percent_credit">{{ $filters.translate('quick-recorder.amount.gross') }}</span>
                    </td>
                    <td>{{ $filters.formatNumber(wildguess.amount, business?.default_currency) }}</td>
                </tr>
                <tr v-if="wildguess.tax_percent_debit || wildguess.tax_percent_credit">
                    <td>{{ $filters.translate('quick-recorder.tax') }}</td>
                    <td>
                        <span v-if="wildguess.tax_code_debit?.code || wildguess.tax_code_credit?.code">
                            {{ $filters.toFlagEmoji((wildguess.tax_code_debit?.code ?? wildguess.tax_code_credit?.code).substring(0, 2)) }}
                        </span>
                        {{ wildguess.tax_percent_debit ?? wildguess.tax_percent_credit }}%
                        {{ wildguess.tax_code_debit?.description ?? wildguess.tax_code_credit?.description ?? "" }}
                    </td>
                </tr>
                <tr v-if="file">
                    <td>{{ $filters.translate('quick-recorder.document') }}</td>
                    <td>{{ this.file.name }}</td>
                </tr>
            </table>
            <div id="recentlyAdded">
                <ul v-if="recently_added?.length > 0">
                    <li><strong>&#x1F559; {{ $filters.translate("quick-recorder.recently-added") }}</strong></li>
                    <li v-for="document in recently_added">
                        <a :href="`/documents/editor/?${document._id}`" target="main" @click="closeModal">
                            <span v-if="document.internal_reference">
                                {{ document.type ?? "" }}
                                {{ document.internal_reference }}
                            </span>
                            <span v-else>
                                {{ $filters.translate("general-ledger.document.unnamed") }}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </main>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>
