<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <link rel="stylesheet" type="text/css" href="scrollbars.css" />
        <script type="text/javascript" src="/js/axios/axios.min.js"></script>
        <script type="text/javascript" src="/js/vue/vue.js"></script>
        <script type="text/javascript" src="/_generic/session.js"></script>
        <script type="text/javascript" src="/_generic/filters.js"></script>
    </head>
    <body>
        <div id="notification_center">
            <template v-for="notification in notifications">
                <div v-if="!notification.deleted" :class="{ notification: true, read: !!notification.read }">
                    <div :class="{ statusIndicator: true, read: notification.read, unread: !notification.read }"
                        @click="toggleRead(notification)"></div>
                    <h1 class="title">
                        {{ notification.title }}
                    </h1>
                    <span class="timestamp">
                        {{ $filters.formatDateTime($filters.id2timestamp(notification._id)) }}
                    </span>
                    <div class="description">
                        {{ notification.text }}
                    </div>
                    <a class="link" v-if="notification.link" @click="hideNotificationsModal()"
                        :href="notification.link" :target="isLocalLink(notification.link) ? 'main' : '_blank'">
                        {{ $filters.translate("home.notifications.open") }}
                    </a>
                    <button class="taskIcon" v-if="isTask(notification)" :title="$filters.translate('home.notifications.task')">
                        &#x1F939;
                    </button>
                    <button class="delete" :title="$filters.translate('home.notifications.delete')" v-else
                        @click="deleteNotification(notification)">
                        &#x1F5D1;&#xFE0F;
                    </button>
                </div>
            </template>
        </div>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>
